.flagBox {
    background-color: rgb(84, 150, 249);
    color: white;
    border-radius: 10px;
    padding: 3px;
    min-height: 30px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.searchBarGrid {
    /* padding: 0 10px 0 10px; */
    background-color:bisque; 
    display: flex;
}

.filterBar {
    background-color:bisque; 
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.mainBar {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.searchBar {
   display: flex;
   flex-direction: row;  
   align-items: center;
}

.searchBox {
    background-color:  rgba(253, 180, 91, 0.388);
    margin: 10px;
    min-width: 170px;
    min-height: 30px;
    border: none;
}

.searchIcon {
    margin: 10px;
}