.skinnycard {
    height: 120px;
    width: 600px;
    background-color: rgba(74, 206, 206, 0.473);
    border-radius: 30px;
    margin: 20px;
}

.leasePicture {
    max-width: 70px;
    max-height: 70px;
    margin: 5px 20px 0 10px;
}

.cardGrid {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}