.skinnycard {
    height: 100%;
    min-height: 120px;
    background-color: rgba(74, 206, 206, 0.065);
    border-radius: 30px;
    margin: 20px;
    border-style: solid;
    border-width: thin;
    display: flex;
    border-color: rgba(43, 71, 71, 0.408);
    box-shadow:  6px 6px 2px 1px rgba(74, 206, 206, 0.774);
    position: relative;
}

.flagPosition {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
}

.heartlocation {
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 15px;
}


.card {
    display: flex;
    flex-direction: column;
}

.leasePicture {
    max-width: 80px;
    max-height: 80px;
    margin: 0 20px 0 10px;
    border-radius: 15px;
}

.cardGrid {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    position: sticky;
}