html,body {
    height: 100%;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: rgba(4, 59, 92, .05);
    justify-content: flex-start;
    align-items: center;
}

.menuButton {
    padding: 25px 25px;
}

.items {
    margin: 10px;
}

.headerGrid {
    width: 100%;
    background-color: rgba(4, 59, 92, .05);
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

Box {
    max-width: 260px;
    height: 100%;
}

.Home {
    overflow: auto;
}

.appGrid {
    display: flex;
    flex-direction: row;
}