.squarecard {
    min-height: 100px;
    min-width: 100px;
    background-color: rgba(74, 206, 206, 0.065);
    border-radius: 30px;
    margin: 20px;
    border-style: solid;
    border-width: thin;
    display: flex;
    border-color: rgba(43, 71, 71, 0.408);
    box-shadow:  6px 6px 2px 1px rgba(74, 206, 206, 0.774);
}

.heartlocation{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    right: 0;
    position: absolute;
    bottom: 0;
}

.flagPositionSquare {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    padding-left: 180px;
    padding-bottom: 10%;
}

.cardGrids{
    display: flex;
    flex-direction: row;
    width: 100vh;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
}

.leasePicture {
    max-width: 120px;
    max-height: 120px;
}

.cardGrid {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}